<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<h1>dashboard</h1>

	<spanp> hello</spanp> <span sec:authentication="name"></span>

	<div sec:authorize="hasRole('USER')">
		<p th:text="${username}"></p>
		<p th:text="${password}"></p>
		<p th:text="${authorities}"></p>
	</div>

	<div sec:authorize="hasRole('ADMIN')">
		<p></p>
	</div>

	<a href="/">home</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="logout">
	</form>
</body>
</html>